{{#if errors.length}}
    <div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li> 
            {{/each}}
        </ul>
    </div>
{{else}}
    {{#if message}}
        <div class="notification is-dark mr-bottom">
            <h2>{{message}}</h2>
        </div>
        <script>
            setTimeout(function(){
                window.location = '/'
            }, 2000)
        </script>
    {{/if}}
{{/if}}