{{#if errors.length}}
    <div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{else}}
    {{#if accountId}}
        <div class="notification is-dark mr-bottom">
            <h2>Account registered.</h2>
        </div>
    {{else}}
        <h2>Sign up here:</h2>
        <form action="/accounts/sign-up" method="POST" class="sign-up">
            Username: <input type="text" name="username" class="input" style="margin-bottom: 15px;">
            <br>
            Password: <input type="password" name="password" class="input"><br>
            <input type="submit" value="Register!" class="button sign-up-button">
        </form>
    {{/if}}
{{/if}}