<div class="content" style="color:white;">
<h1 style="color:white;">Favourites <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h1>
{{#if errors.length}}
	<div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li> 
            {{/each}}
        </ul>
    </div>
{{else}}
	{{#if movies.length}}
		<ul>
			{{#each movies}}
                <div class="box">
                    {{dataValues.movieTitle}}
                </div>
			{{/each}}
		</ul>
	{{else}}
		<div class="box">
            <p>Your list of favorite movies seems to be empty...</p>
        </div>
	{{/if}}
{{/if}}
</div>