<h1 class="is-size-1">Welcome to <em>The Community</em></h1>
<p>This is a promising webpage where you can create a new account and login to. Then you can... Not do that much more at the moment ^^' But hang in there, cool features will be implemented in the future.</p>

<form action="/movies/search">
    <input type="text" placeholder="Search.." name="keywords">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
{{#if movies}}
    {{#each movies}}
        {{title}}
        {{image}}
    {{/each}}
{{/if}}