<div class="content" style="color:white;">
<h1 style="color:white;">Watchlist</h1>
{{#if errors.length}}
	<div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li> 
            {{/each}}
        </ul>
    </div>
{{else}}
	{{#if movies.length}}
		<ul>
			{{#each movies}}
                <div class="box">
                    {{dataValues.movieTitle}}
                </div>

			{{/each}}
		</ul>
	{{else}}
		<div class="notification is-dark mr-bottom">
			<p>No movies on watchlist yet.</p>
        </div>
	{{/if}}
{{/if}}
</div>